// This import applies a global reset to any page that imports this stylesheet.

@import blueprint/reset.sass

// To configure blueprint, edit the partials/base.sass file.

@import partials/base.sass

// Import all the default blueprint modules so that we can access their mixins.

@import blueprint
@import blueprint/modules/fancy_type.sass

// Import the non-default scaffolding module.

@import blueprint/modules/scaffolding.sass

// Import compass utilities

@import compass/utilities.sass

//Recommended Blueprint configuration with scoping and semantic layout:

+blueprint-typography
+blueprint-debug
+blueprint-scaffolding

	
#container
	+container
//	+showgrid

a
	+hover-link
	color = !orange_red
	
a:visited
	color = !orange_red
		
body#index
	background-color = !dark_background
	#header
		+column(12)
		height: 428px
		background: url('/images/americas-red.png') no-repeat right top
		h1
			+column(9)
			+replace-text("gira-logo-large.png")
			height: 242px
			margin-top: 165px			
	.title
		+column(3)
		margin-top: 80px
	.title#last
		+column(3,true)
	h2
		color = !light_blue_text
		font-size: 1.5em
		a
			color = !light_blue_text
			+hover-link
	a
		+hover-link
		color: #333

body#subindex
	background-color = !light_blue_background
	#outer
		background: url('/images/header_grad_background.png') repeat-x
	#header
		+column(12)
		height: 193px
		h1.fr
			+replace-text("gira_header_title.png")
			width: 940px
			height: 89px
			margin-top: 25px
		h1.en
			+replace-text("gira_header_title_en.png")
			width: 940px
			height: 89px
			margin-top: 25px	
		#menu
			ul
				+horizontal-list
				font-size: 1.2em
				font-family = !lucida
				border-top: 1px solid
				border-bottom: 1px solid
				border-color = !dark_blue_grey
				margin-top: 22px
				padding: 3px 0
				li
					padding-right: 40px
				a
					color = !light_blue_background
					+hover-link
				li.on
					a
						color = !light_blue_background - #666

	#container
		ul.breadcrumbs
			color = !dark_background
			+horizontal-list
			font-size: 1.2em
			li:after
				content: " > "
			li:last-child:after
				content: ""
		h2#section_header
			font-size: 3em
			color: #ccc
			border-bottom: 1px solid #333
			font-family = !serif
			border-color: #ccc
			margin-bottom: 0

	#feature
		+column(12)
		background-color = !dark_blue_grey
		+rounded(10px)
		margin-top: 30px
		#feature-teaser
			+column(5)
			height: 328px
			background: url(/images/americas-red-drop-shadow.png) top right no-repeat
			h3
				margin-top: 200px
				margin-left: 10px
				font-family = !lucida
				a
					+hover-link
					color = !lighter_grey
					font-weight: bold
		#feature-text-column
			+column(7,true)
			#feature-text
				+transparent-box(0)
				font-family = !serif
				font-size: 1.3em
				color = !light_blue_background

	#news
		h2
			margin-top: 30px
			margin-bottom: 0
			padding-left: 15px
			color = !orange_header
			font-family = !lucida
			font-weight: bold
			a
				+hover-link
				color = !orange_header
		#recent_news
			+transparent-box(15px)
			border-left: 1px solid 
			border-color = !light_blue_gray
			background: url(/images/gradient_rule.png) top right no-repeat
			padding-top: 25px
			.news-item-browser
				border-bottom: 1px dashed
				border-color = !light_blue_gray
				margin-bottom: 10px
				padding-bottom: 10px
				color = !dark_text
				h3
					font-family = !serif
					+caps
					padding-left: 0
					font-size: 2em
					font-weight: normal
					margin-bottom: 0px
					line-height: 100%
					a
						color = !dark_text
						+hover-link
				p.news_date
					color = !dark_blue_grey
					margin-top: 0px
				p
					margin: 1em 0 0 0
					font-size: 1.2em
			a
				+hover-link
				color = !orange_red
					
	#main
		+column(8)
		margin-top: 30px
		font-size: 1.2em
		background-color = !mid_grey
		+rounded(10px)
		#main_text
			margin: 10px 15px
			h2
				font-family = !serif
				border-bottom: 1px solid
			h3.name
				margin-bottom: 5px
			#membre_photo_small
				background-color: #ccc
				border: 1px solid #333
				+float(right)
				margin-right: 63px
			#membre_photo
				background-color: #ccc
				border: 1px solid #333
				+float(right)
				margin: 0 63px 20px 20px				
	#section_nav
		+column(3, true)
		margin-top: 30px
		a
			+hover-link
			color = !orange_red
	#news
		+column(6)
	#regards
		+column(6, true)
		background: url(/images/gradient_box.png) top right no-repeat
		margin-top: 20px
		#regards-text
			+transparent-box
			h2
				margin-top: 0px
				padding-bottom: 10px
				margin-bottom: 10px
				color = !orange_header
				font-family = !lucida
				font-weight: medium
				border-bottom: 1px dashed
				border-color = !light_blue_gray
				a
					+hover-link
					color = !orange_header
			p
				font-size: 1.2em
			a
				+hover-link
				color = !orange_red
	
	#footer
		+column(12)
		margin-top: 30px
		padding-top: 5px
		border-top: 1px solid
		border-color = !light_blue_gray
		#menu
			ul
				+centered-list(10px)
				a
					+hover-link
					color = !dark_blue_grey - #111
				li.on
					a
						color = !dark_blue_grey + #111
			
		
		

// #sidebar
// 	+column(3)
// 	
// #content
// 	+column(9, true)
// 	
// #footer
// 	+column(12)
// 	text-align: center
// 	#footer-links
// 		+horizontal-list
// 	
// #header, #footer
//		a
// 		+hover-link