<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><%= page_title %></title>
		<link rel="stylesheet" href="/stylesheets/compiled/screen.css" type="text/css" media="screen, projection" title="no title" charset="utf-8">
    <%= yield :html_head %>
  </head>
  <body id="index">
    <%= cms_toolbar %>
    <div id="container">
			<div id="header">
				<h1>Gira</h1>
			</div>
			
			<div class="title">
				<h2><a href="/fr">Groupe interdisciplinaire de recherche sur les Amériques</a></h2>
				<p><a href="/fr">[Français]</a></p>
			</div>
			<div class="title">
				<h2><a href="/es">Grupo interdisciplinario de investigación sobre las Américas</a></h2>
				<p><a href="/es">[Español]</a></p>
			</div>
			<div class="title">
				<h2><a href="/pt">Grupo interdisciplinar de pesquisa sobre as Américas</a></h2>
				<p><a href="/pt">[Português]</a></p>
			</div>
			<div class="title" id="last">
				<h2><a href="/en">Interdisciplinary Research Group on the Americas</a></h2>
				<p><a href="/en">[English]</a></p>
			</div>

    </div>
  </body>
</html>
